
<app-navbar></app-navbar>
<div class="jumbotron text-center ">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">This is my sample contact page</p>
</div>
<div class="container">
    <p> 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio porro soluta distinctio non repudiandae nobis laborum voluptatibus odit aliquam. Tempore voluptatem eum saepe, ullam praesentium vel quaerat asperiores itaque libero ducimus sunt nulla reprehenderit quos accusamus doloremque esse voluptatibus soluta aliquam adipisci impedit voluptas. Qui corporis excepturi adipisci saepe sequi?
    </p>
</div>